<!DOCTYPE html>
<html>
<head>
	<title>Grocery</title>
</head>
<body>
	<h1>Two Models</h1>
	<nav>
		<ul>
			<li><a href="/grocery">Grocery</a></li>
			<li><a href="/items">Items</a></li>
		</ul>
	</nav>

</body>
</html>