<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/grocery">Grocery Stores</a></li>
			</ul>
		</nav>
	</header>
	<main>
		
	</main>

</body>
</html>