<!DOCTYPE html>
<html>
<head>
	<title>Grocery</title>
</head>
<body>
	<header>
		<h1>Grocery</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/grocery/new">New Store</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<ul>
			<% for (var i = grocery.length - 1; i >= 0; i--) { %>
				<li>
					<a href="/grocery/<%=grocery[i].id%>">
						<%=grocery[i].name%></a>
				</li>
			<%}%>
		</ul>
	</main>
</body>
</htmlz