<!DOCTYPE html>
<html>
<head>
	<title>Grocery</title>
</head>
<body>
	<header>
		<h1>Grocery</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/grocery/new"></a></li>
			</ul>
		</nav>
	</header>
</body>
</htmlz