<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Create A Grocery Store</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/grocery">Grocery Stores</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<form action="/grocery" method="POST">
			Name: <input type="text" name="name"><br/>
			Open: <input type="text" name="open"><br/>
			Price Range:<input type="text" name="price"><br/>
			<button type="submit">Add Grocery Store</button>
		</form>
	</main>

</body>
</html>