<!DOCTYPE html>
<html>
<head>
	<title>Items Index Page</title>
</head>
<body>
	<header>
		<h1>Items Index</h1>
		<%items.forEach((el, i) => { %>
			<ul>
				<li><a href="/items/<%=items[i].id%>">el.name</a></li>
			</ul>
		<% })%>
		<a href="/items/new">Add New Item</a>
		<br>
		<a href="/">Home</a>
	</header>
</body>
</html>