<!DOCTYPE html>
<html>
<head>
	<title>New Item Page</title>
</head>
<body>
	<h1>Add a New Item</h1>

	<form action="/items" method="POST">
		Item: <input type="text" name="item"><br>
		Brand: <input type="text" name="brand"><br>
		Cost: <input type="text" name="cost"><br>
		Available: <input type="boolean" name="available"><br>
		Store: <select name="store">
				<%for(let i = 0; i < stores.length; i++) {%>
					<option value="../grocery/<%=stores[i].id%>"><%=stores[i].name%></option>
				<%}%>
				</select>
		<input type="submit">
	</form>

</body>
</html>